<!DOCTYPE html>
<html>
<head>
<title> Add College </title>
</head>

<body>

<h1> Add College Details </h1>

<form method="post" action="/admin/AddCollege">
<label> 
<div> Select University </div>
<select name="univ">

{% for each in univ %}
    <option value= "{{each.key().name()}}"> {{each.name }} </option>
{% endfor %}

</select>

</label>
<br><br>

<label>
<div> Enter College Name </div>
<input type="text" name=collname>

</label>

<br><br>

<label>
<div> Enter College Code </div>
<input type="text" name=collcode>
</label>

<br><br>
<div>
<input type="submit">
</div>


</form>

</body>
</html>