<!DOCTYPE html>
<html>
<head>
<title>Add Department</title>
</head>

<body>
<h1> Add Department Details</h1>
<form method=post action="/admin/AddDept">

<label>
<div> Enter Department Code </div>
<input type=text name="dcode" > 
</label>

<label>
<div> Enter Department Name</div>
<input type=text name="dname">
</label>

<label>
<div>
<input type=submit>
</div></label>



</form>

<div>
<hr>


{% for depts in dep %}
    <div><span>{{ depts.key().name() }}</span> {{ depts.depname }}</div>

{% endfor %}
</div>


</body>

</html>