<!DOCTYPE html>
<html>
<head>
<title>Add Regulation</title>
</head>
<body>
<form method="post" action="/admin/AddReg">
<h1> Add Regulation</h1>
<label>
<input type="text" name="reg">
</label>
<label>
<input type="submit">
</label>

</form>

<hr>
<div>
{% for each in reg %}
    <div>
    {{ each.key().name() }}
    </div>
{%  endfor %}
</div>


</body>

</html>