<!DOCTYPE html>
<html>
<head>
<title>Add Year of Joining</title>
</head>
<body>
<form method="post" action="/admin/AddYoJ">
<h1> Add Year of Joining</h1>
<label>
<input type="text" name="yoj">
</label>
<label>
<input type="submit">
</label>

</form>

<hr>
<div>
{% for each in yoj %}
    <div>
    {{ each.key().name() }}
    </div>
{%  endfor %}
</div>


</body>

</html>