<!DOCTYPE html>
<html>
<head>
<title>College Details upload</title></head>
<body>
<h1> College Details Upload</h1>

<form action="{{ upload_url }}" method="post" enctype="multipart/form-data">

<label>
<div>Choose University 
<select name="univ">
{% for each in univ %}
    <option value={{ each.key().name() }}> {{ each.name }} </option>
{% endfor %}
</select>

</div>

</label>

<label>
<div> Choose Type
<select name=type>
<option value=1> Single Code </option>
<option value=2> Double Code </option>

</select>

</div>

</label>
<label>
<div>
<input type="file" name="upload">
</div> 
</label>

<label>
<input type="submit">
</label>





</form>

</body>


</html>