<!DOCTYPE html>
<html>
<head>
<title>Assign Department to College</title>
</head>

<body>
<form method=post action="/admin/CollDept">

<label>
<div>Select College</div>
<select name="coll">
{% for each in coll %}
	{% set code = each.key().name() %}
    <option value= "{{code}}"> {{each.colname }} - {{code}} </option>
{% endfor %}

</select>
<br>
</label>

<label>
<div> Select Department Name</div>

<select name="dept">
{% for each in dept %}
	{% set code  =   each.key().name()  %}  
    <option value= "{{code}}"> {{each.depname}} - {{ code }} </option>
{% endfor %}

</select>
</label>

<label>
<div>
<input type=submit>
</div></label>



</form>

<div>
<hr>

</div>


</body>

</html>