<!DOCTYPE html>
<html>
<head>
<title>College Department Details upload</title></head>
<body>
<h1> College Department Details Upload</h1>

<form action="{{ upload_url }}" method="post" enctype="multipart/form-data">

<label>
<div> Choose File
<input type="file" name="upload">
</div> 
</label>

<label>
<input type="submit">
</label>





</form>

</body>


</html>