<!DOCTYPE html>
<html>
<head>
<title>AbsCool - Department View  </title>

 <link href="/static/defaultTheme.css" rel="stylesheet" media="screen" />
 <link href="/static/myTheme.css" rel="stylesheet" media="screen" />
 <link href="/static/960.css" rel="stylesheet" media="screen" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="/static/jquery.fixedheadertable.js"></script>



<script type="text/javascript">

$(document).ready(function() {
 $('#myTable01').fixedHeaderTable({ height: '500', altClass: 'odd' });
    });


function disp_result(data1)
{
alert( data1);
}

function htmlDecode(input){
  var e = document.createElement('div');
  e.innerHTML = input;
  return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
}
function openWin2(param)
{



var myWindow = window.open("","_blank","toolbar=yes, scrollbars=yes, resizable=yes, top=300, left=500, width=400, height=400");  // Opens a new window
myWindow.document.write(htmlDecode(param))
}




function openWin(param)
{
var doc = window.open("","_blank","toolbar=yes, scrollbars=yes, resizable=yes, top=300, left=500, width=400, height=400");
doc.document.write(param.join("\n"))
}

</script>
</head>
<body>
<div id="height500">
 <table class="fancyTable" id="myTable01" cellpadding="0" cellspacing="0">
<thead>
<tr>
<th>Register Number </th> 
<th> Name </th>
{% for s,sname in curr_sem_sub %}
    <th> {{s}} </th>
{% endfor %}
<th> GPA </th>
<th> More Results </th>
<th> Results Summary </th>
</tr>
</thead>
<tbody>
{% for r in curr_sem_dict|sort %}
   <tr>
    <td> {{ r }} </td><td style="text-align: left;">{{ curr_sem_dict[r][0] }} </td>
   	{% for (s,g) in curr_sem_dict[r][1] %}
   	    
        	<td> {{g}} </td>
        
            
        
    {% endfor %}
		<td> {{ curr_sem_dict[r][2] }} </td>
    {% set res_content = curr_sem_dict[r][3] %}
        {% if not res_content  %}
             <td> </td>
             
        {% else %}
    	    <td> <button onclick='openWin2("{{ res_content }}")'> Show </button> </td>
    	{% endif %} 
    
   <td> {{ curr_sem_dict[r][4] }} </td>
    
    
    </tr>
{% endfor %}
</tbody>
</table>
</div>



</body>


</html>