<!DOCTYPE html>
<html>
<head>
  <title> AbsCool </title>
  <style type="text/css">
  
  
  h1
  {
  font-size: 350%;
  margin-top: 100px;
  }
  div
  {
  font-size: 20px;
  }
  
  .error
  {
  color: red;
  }
  
  </style>
  
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div style="text-align: center;">
<h1> AbsCool - Results</h1> 
<div class="fb-like" data-href="http://www.facebook.com/abscoolresults" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
<br> <br>
<form method="post">
<label>
<div>Enter register number: </div>  

<input type="text" name=regno>

</label>

<label>
<div>
<input type="submit">
</div>


</label>

<label>
<div class="error">
{{ error }}
</div>
</label>

</form>
</div>
</body>
</html>
