<html>
<head>
<title>Subjects - Department</title>
</head>

<body>

<h1> Subjects - Departments</h1>

<div>

{% for each in subdept %}
    <div>
    Subject-Name:  {{each.sub.subname }} ( {{each.sub.key().name() }})  <br>
    Department :  {{ each.dept.depname }} <br>
    Semester : {{ each.sem }} <br>
    Regulation and University: {{ each.reguniv.reg.name }}, {{ each.reguniv.univ.name }} <br><br>
    
    
    
    
    </div>
{% endfor %}


</div>


</body>

</html>