<html>
<head>
<title> Universities </title>
</head>

<body>

<h1> Universities Details </h1>

{% for univs in univ %}
    <div> <ul style="list-style-type: none">
    <li> {{ univs.name }} </li>
    <li> {{ univs.key().name() }} </li>
    
    </ul>
    </div>
    
{% endfor %}

 
    
    



</body>  
</html>