<html>
<head>
<title>Department</title>
</head>

<body>

<h1> Departments</h1>

<div>



{% for depts in dep %}
    <div><span>{{ depts.key().name() }}</span> {{ depts.depname }}</div>

{% endfor %}
</div>


</body>

</html>