<!DOCTYPE html>
<html>
<head><title>Subjects</title>
</head>

<body>
<h1> Subjects </h1>
<div>

{% for subs in sub %}
    <div> 
    <h3>Name: {{ subs.subname }} </h3>
    <h4>Code: {{ subs.key().name() }} </h4>
    <h4>Credits: {{subs.credits }} </h4>   
    </div>
{% endfor %}
    
    
    
</div>



</body>


</html>