<html>
<head>
<title> Colleges </title>
</head>

<body>

<h1> College Details </h1>

{% for colleges in coll %}
    <div> <ul style="list-style-type: none">
    <li> {{ colleges.colname }} </li>
    <li> {{ colleges.key().name() }} </li>
    <li> {{ colleges.univcode.name }} </li>
    </ul>
    </div>
    
{% endfor %}

 
    
    



</body>  
</html>