<!DOCTYPE html>
<html>
<head>
<title>Assign Year of Joining to  Regulation </title>
</head>
<body>
<form method="post" action="/admin/RegYear">
<h1> Add Year of Joining to Regulation</h1>

<label>
<div>Select YearofJoining</div>
<select name="yoj">
{% for each in yoj %}
    <option value="{{each.key().name() }}"> {{each.desc }}</option>

{% endfor %}
</select>
</label>

<label>
<div>Select Regulation</div>

<select name ="reg">
{% for each in reg %}
    <option value= "{{each.key().name()}}"> {{each.name }}</option>
{% endfor %}
</select>



</label>

<label>
<input type="submit">
</label>

</form>

<hr>
<div>

</div>


</body>

</html>