<!DOCTYPE html>
<html>
<head>
<title>AbsCool Results</title>
</head>

<body>
{% for each in results_list %}
    Student Name: {{ each[1] }} <br>
    Register Number: {{ each[0] }}<br>
    Department: {{ each[2] }}<br>
    College: {{ each[3] }} <br>
    <table>
    <th> Subject Code </th>
    <th> Subject Name </th>
    <th> Grade </th>
    <th> Result </th>
    <th> Semester </th>
    {% set len = each|length %}
    {% for value in each[4:len-1] %}
        <tr>
        <td> {{ value[0] }} </td>
        <td> {{ value[1] }}</td> 
        
        {% if 'WH' in value[2] %}
        	<td> </td>
        	<td> {{ value[2] }} </td>
        
        {% elif 'SA' not in value[2] %}
            {% if value[2] == 'UA' or value[2] == 'U' %}
                {% set res_status = 'RA' %}
            {% else %}
                {% set res_status = 'PASS' %}
            {% endif %}
            <td> {{ value[2] }} </td>
            <td> {{ res_status }} </td>
        
        {% else %}
            <td> </td>
            <td> {{ value[2] }} ( Shortage of Attendance) </td>
            
        {% endif %}
        
        <td> {{ value[3] }} </td>
        
        </tr>    
    {% endfor %}
    </table>
    
    <b> GPA: {{ each[-1] }} </b>        

{% endfor %}


</body>


</html>
