<!DOCTYPE html>

<html>
<head><title>Assign Subject to Department</title></head>
<body>
<h1>Add Subject-Department Relationship</h1>
<form method="post" action="/admin/SubDept">
<label>
<div> Select Subject</div>
<select name="sub">
{% for each in sub %}
	{% set code  =   each.key().name()  %}  
    <option value= "{{code}}"> {{each.subname}} - {{code}} </option>

{% endfor %}

</select>


</label>


<label>
<div> Enter Semester Number</div>
<select name="sem">
<option name="1">1 </option>
<option name="2">2 </option>
<option name="3">3 </option>
<option name="4">4 </option>
<option name="5">5 </option>
<option name="6">6 </option>
<option name="7">7 </option>
<option name="8">8 </option>
</select>
</label>
<br><br>

<label>
<div> Select Department Name</div>
<select name="dept">
{% for each in dept %}
	{% set code  =   each.key().name()  %}  
    <option value= "{{code}}" > {{each.depname}} - {{ code }} </option>
{% endfor %}

</select>
</label>

<br><br>

<label>
<div>Select Regulation and university</div>
    <select name="reguniv">
    {% for each in reguniv %}
        <option value="{{each.key().name() }}"> {{each.univ.name}} - {{each.reg.name}} </option>
     
    {% endfor %}
     </select>


</label>



<br><br>
<label>
<div>
<input type="checkbox" name="elective">Elective
</div>

</label>

<label>
<div>
<input type="submit">
</div>
</label>
</form>
</body>
</html>