<!DOCTYPE html>
<html>
<head>
<title>Subject Details upload</title></head>
<body>
<h1> Subject Details Upload</h1>

<form action="{{ upload_url }}" method="post" enctype="multipart/form-data">

<label>
<div>Choose University and Regulation 
<select name="reguniv">
{% for each in reguniv %}
    <option value={{ each.key().name() }}> {{ each.univ.name }} - {{ each.reg.name }} </option>
{% endfor %}
</select>
</div>


</label>

<label>
<div>Select Department
<select name="dept">
{% for each in dept %}
	<option value = {{ each.key().name() }}> {{ each.depname }} </option>
{% endfor %}
</select>

</div></label>

<label>
<div>
<input type="file" name="upload">
</div> 
</label>

<label>
<input type="submit">
</label>





</form>

</body>


</html>