<html>
<head>
<title>Test Query Page</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
$(document).ready(function(){
  $("#dept").prop("selectedIndex",-1);
 
});
</script>
</head>

<body>

<h1> Test Query Page</h1>

<div>
<h1>Subject - Department</h1>
<form action="/admin/TestQuery" method=post>
<label>
<div> Select Department Name</div>
<select name="dept" id="dept">
{% for each in dept %}
	{% set code  =   each.key().name()  %}  
    <option value= "{{code}}" > {{each.depname}} - {{ code }} </option>
{% endfor %}

</select>
</label>

<label>
<div>
<div>Enter Semester: </div>
<input type="text" name="sem">
</div>
</label>

<label>
<div>Select Regulation</div>

<select name ="reg">
{% for each in reguniv %}
    <option value= "{{each.key().name()}}">{{each.univ.name }} - {{each.reg.name }}</option>
{% endfor %}
</select>



</label>

<label>
<div>
<input type="submit">
</div>
</label>

</div>

</form>

<hr>
{% for each in res %}
    <div>
    
    Subject-Name:  {{each.sub.subname }} ( {{each.sub.key().name() }})  <br>
    Department :  {{ each.dept.depname }} <br>
    Semester : {{ each.sem }} <br>
    Regulation and University: {{ each.reguniv.reg.name }}, {{ each.reguniv.univ.name }} <br>
    {% if each.elective == "Yes" %}
        Elective : {{each.elective}} <br><br>
    {% endif %}
    
    <br><br>
    
  
    </div>
{% endfor %}


</body>

</html>