<html>
<head>
<title>Test RegNum Page</title>
</head>

<body>

<h1> Test RegNum Page</h1>

<form action="/admin/TestRegNum" method=post>
<label>
<div>Enter RegNum: </div>
<input type="text" name="regno">
</div>
</label>

<label> 
<div>
<input type="submit">
</div>
</label>

</div>

</form>

<hr>

{{ error }}

{% if res_exist == 1 %}
    <div>
    College: {{ res[0].colname }} <br>
    University : {{res[0].univcode.name }} <br>
    {% for each in regyear %}
	    <div> Regulation:  {{ each.reg.name }} </div>
	
    {% endfor %}
    
    Department: {{ dept }}
    
    <br><br>
    
    Subjects: {% for each in subjects %}
    		      <div>
    		      {{ each.sub.subname }}
    		      </div> 
    		  {% endfor %}
    
    
  
    </div>
	
{% endif %}
</body>

</html>