<!DOCTYPE html>
<html>
<head>
<title>Assign Regulation to University</title>
</head>
<body>
<form method="post" action="/admin/UnivReg">
<h1> Add Regulation to University</h1>

<label>
<div>Select University</div>
<select name="univ">
{% for each in univ %}
    <option value="{{each.key().name() }}"> {{each.name }}</option>
    
{% endfor %}
</select>
</label>

<label>
<div>Select Regulation</div>

<select name ="reg">
{% for each in reg %}
    <option value= "{{each.key().name()}}"> {{each.name }}</option>
{% endfor %}
</select>



</label>

<label>
<input type="submit">
</label>

</form>

<hr>
<div>

</div>


</body>

</html>