<!DOCTYPE html>
<html>
<head>
<title>Add University</title>
</head>
<body>

<h1> Add University </h1>

<form method="post" action="/admin/AddUniv">

<label> 
<div> Enter University name </div>
<input type="text" name="univname">
</label>


<label>
<div> Enter University Code</div>
<input type="text" name="univcode">
</label>

<div> 
<input type = "submit" >
</div>

</form>

<hr>

{% for univs in univ %}
    <div> {{ univs.code }}   {{ univs.name }} </div>
    
    
{% endfor %}

</body>
</html> 

